body {
    background: black;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
/* Body animation starts here */
.homeLink:hover {
    animation: bodyAni 5s linear infinite;
}

@keyframes bodyAni {
    0% {
        background-color: red;
      }
      5% {
        background-color: orange;
      }
      10% {
        background-color: yellow;
      }
      15% {
        background-color: green;
      }
      20% {
        background-color: blue;
      }
      25% {
        background-color: indigo;
      }
      30% {
        background-color: violet;
      }
      35% {
        background-color: red;
      }
      40% {
        background-color: orange;
      }
      45% {
        background-color: yellow;
      }
      50% {
        background-color: green;
      }
      55% {
        background-color: blue;
      }
      60% {
        background-color: indigo;
      }
      65% {
        background-color: violet;
      }
      70% {
        background-color: red;
      }
      75% {
        background-color: orange;
      }
      80% {
        background-color: yellow;
      }
      85% {
        background-color: green;
      }
      90% {
        background-color: blue;
      }
      95% {
        background-color: indigo;
      }
      100% {
        background-color: violet;
      }
}
/* Body animation ends here */
header {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
    text-align: center;
}
header > a {
    color: mediumseagreen;
    font-family: 'Edu TAS Beginner';
}
.bigButton {
    color: red;
    background-color: darkslategrey;

}
.overlayBody {
    width: 100%
}
/* Button Animation starts here */
.bigButton:focus + .overlayBody{
    animation: buttonAni 2s linear forwards;
}
@keyframes buttonAni {
    0% {
        background-position: 0, 0;
    }
    100% {
        background-position: 100%, 100%;
    }
}
/* Button Animation ends here */
.galImg {
    width: 25%;
    height: auto;
}
main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    background: rgb(0, 0, 0, 0);
}