/* Body formatting */
body {
    margin: 0;
    padding: 0;
    background: ghostwhite;
    background-image: url("https://images.unsplash.com/photo-1559825481-12a05cc00344?auto=format&fit=crop&q=80&w=765&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
/* Page Fonts */
.cephNav, h1, h2, h3, h4 {
    font-family: 'Josefin Sans';
}
p, li {
    font-family: 'Lexend';
}
/* Nav Styling */
.cephNav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.cephNav > ul > li {
    padding: 0 2em;
}
.cephNav > ul > li > a, .cephNav > ul > li > a:visited {
    color: mediumturquoise;
    text-decoration: none;
}
.cephNav > ul > li > a:hover, .cephNav > ul > li > a:visited:hover {
    color: lightcoral;
}
/* Page formatting and styling */
#page-container {
    max-width: 80vw;
    background: lightcyan;
    margin: 2em 0;
    border-radius: 1%;
}
#cephHead {
    text-align: center;
    color: mediumseagreen;
}
#cephHead > div > img {
    width: 25%;
    border-radius: 45%;
}
.mainImgs {
    display: flex;
    justify-content: space-evenly;
}
.mainImgOne, .mainImgTwo {
    max-width: 50%;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}

#cephTime {
    margin: 0 1em;
}
#cephTime > h2{
    text-align: center;
    color: mediumseagreen;
}
#cephTime > div > p {
    color: darkviolet;
}

#cephGallery {
    text-align: center;
}
#cephGallery > h3 > a, #cephGallery > h3 > a:visited {
    color: mediumaquamarine;
}
#cephGallery > h3 > a:hover, #cephGallery > h3 > a:visited:hover {
    color: lightcoral;
}

#cephLists {
    display: flex;
    justify-content: space-evenly;
    margin: 0 1em;
}
